:root {
    --main-color: #011f4b;
    --color2: #03396c;
    --color3: #005b96;
    --color4: #6497b1;
    --color5: #b3cde0;

    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 4rem;

    display: flex;
    background-color: var(--main-color);
    align-items: center;
}

.header h1 {
    margin-left: 2rem;

    color: white;
}

.mainContainer {
    position: relative;
    border-bottom: 2px solid var(--main-color);

    height: calc(60vh - 4rem);

    display: flex;
}

.searchArea {
    /* background-image: url(./images/Cloud.jpg);
    background-position: center;
    background-size: contain; */

    color: var(--main-color);
    height: 100%;
    width: 35%;
    border-right: 2px solid var(--main-color);
    display: flex;

    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.searchArea input {
    border: 2px solid var(--main-color);
    border-radius: 4px;
    height: 2rem;
    width: 100%;
}

.searchArea button {
    border-radius: 10px;
    background: var(--color3);
    color: white;
    height: 2rem;
    width: 70px;
    cursor: pointer;
}
.searchArea button:hover {
    background-image: linear-gradient(to right, rgb(139, 145, 212), blue);
}

.currentWeather {
    height: 100%;
    width: 65%;
    display: flex;
}

.left {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.temp {
    font-size: 8rem;
    font-weight: 600;
    height: 70%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.weatherIcon {
    height: 90%;
    width: 150px;

    background-color: var(--color3);

    border-radius: 20%;
}

.right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.right div {
    height: 15%;
    font-size: 2rem;
    color: var(--main-color);
}

.forecastContainer {
    height: 40vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.forecastItem {
    height: 90%;
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px solid var(--main-color);
    border-radius: 10%;
    background-color: var(--color4);
}

.fTitle {
    font-size: 1rem;
}

.fTemp {
    height: 60%;
    font-size: 4rem;
}
.fIcon {
    height: 100%;
}
.recentSearches {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.searchList {
    list-style: none;
    cursor: pointer;

    background-color: green;
}

.searchList li {
    margin-bottom: 0.5em;
}

@media (max-width: 1200px) {
    .mainContainer {
        flex-direction: column;
    }

    .searchArea {
        top: 4rem;
        width: 100%;
        height: calc(35vh - 4rem);
    }
    .currentWeather {
        height: 35vh;
    }

    .cityName {
        font-size: 2rem;
    }
    .temp {
        font-size: 4rem;
    }
    .weatherIcon{
        height: 70%;
    }
    .forecastContainer {
        height: 30vh;
    }

    .fTemp{
        font-size: 2rem;
    }
}
